<div class="section">
<%= form_for @post do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :title, 'Title:' %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="field">
    <div class="control">
       <%= f.label :body, 'Content:' %>
      <%= f.text_area :body %>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
</div>  